{# empty Twig template #}

{# HERE GOES THE LINKEDIN DATA #}


{% extends "frontend_layout.php" %}

{% block content %}
<div id="content">
	<h2>
		Acerca de Nosotros			
	</h2>
		 <label>Email</label>
                 <p>{{ linkedin_data.emailAddress }}</p>
                 <label>Quienes somos</label>
                 <p>{{ linkedin_data.summary }}</p>
</div>	
{% endblock %}