{# empty Twig template #}

{# HERE GOES THE LINKEDIN DATA #}


{% extends "frontend_layout.php" %}

{% block content %}
<div id="content">
	<h2>
		Acerca de Nosotros			
	</h2>
	<p>
		 {{ linkedin_data.emailAddress }}	
	</p>	
</div>	
{% endblock %}